* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

.global-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../assets/background.png") center/cover no-repeat;
    opacity: 0.55;
    z-index: 0;
    pointer-events: none;
}
/* Верхняя панель */
.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background: rgba(10, 10, 10, 0.75);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 1000;
}

/* Логотип + название игры */
.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* PNG логотип студии */
.studio-logo {
    height: 48px;
    width: auto;
}

/* Золотое название игры */
.game-title {
    font-size: 28px;
    font-weight: 700;
    background: linear-gradient(90deg, #c9a54d, #fcefb4, #c9a54d);
    -webkit-background-clip: text;
    color: transparent;
    /* text-shadow:
        0 0 4px rgba(0, 0, 0, 0.9),
        0 2px 2px rgba(0, 0, 0, 0.7),
        0 4px 4px rgba(0, 0, 0, 0.7); */
    letter-spacing: 1px;
}

/* Меню */
.menu a {
    margin-left: 25px;
    text-decoration: none;
    color: #eaeaea;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.2s;
}

/* При наведении */
.menu a:hover {
    background: rgba(255, 255, 255, 0.15);
}

/* Активный пункт страницы */
.menu a.active {
    background: rgba(255, 255, 255, 0.25);
}

/* Центральный блок */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 140px;
    min-height: calc(100vh - 140px - 100px); /* хедер + футер */
    z-index: 2;
    position: relative;
}

.overlay-box {
    background: rgba(10, 10, 10, 0.78);
    padding: 40px;
    width: 60%;
    border-radius: 8px;
    box-shadow: 0 0 25px #000000cc;
    color: #f0f0f0;
}

.overlay-box h1 {
    margin-bottom: 15px;
    font-size: 32px;
}

.overlay-box p {
    line-height: 1.6;
    font-size: 18px;
    text-indent: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Футер */
.footer {
    width: 100%;
    padding: 20px 40px;
    background: rgba(10, 10, 10, 0.9);
    display: flex;
    justify-content: space-between;
    font-size: 14px;

    position: relative;
    z-index: 2;
}

.footer a {
    color: #cccccc;
    margin-left: 15px;
    text-decoration: none;
}

.footer a:hover {
    color: white;
}
